body {
  /* background-color: grey; */
  margin: 0;

}
.experiences > .row {
    margin-top: 60px;
    /* background-color: white; */
    height: 300px;
    /* box-shadow: 5px 10px #888888; */
}

.container {
    padding: 2px 16px;
}

.content > .row {
    margin-top: 60px;
}

.card {
  /* height: 225px; */
}

.card2{
  height: 225px;
}

.header {
  padding: 110px;
  text-align: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
}

.header > h2 {
  padding: 35px;
}

/* Page Content */
.content {padding:20px;}

.read-more-state {
display: none;
}

.read-more-target {
opacity: 0;
max-height: 0;
font-size: 0;
transition: .25s ease;
}

.read-more-wrap {
  display:
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
opacity: 1;
font-size: inherit;
max-height: 999em;
}

.show-more-container {
  padding: 0px;
  margin: 0 auto;
}

.read-more-state ~ .show-more:before {
content: 'Show more';
}

.read-more-state:checked ~ .show-more:before {
content: 'Show less';

}

.show-more{
  display: block;
   width: 140px;
  margin: 10px auto;
  text-align: center;
}

.read-more-trigger {
cursor: pointer;
display: inline-block;
padding: 0 0.5em;
color: #141E1C;
font-size: .9em;
line-height: 2;
border: 1px solid #141E1C;
border-radius: .25em;
}

.card-body {
  background-image: url(static/img/sub.png);
}
 /* End of read more trigger */

 /* image hover  */
 .hovereffect {
 width:90%;
 height:80%;
 float:left;
 overflow:hidden;
 position:relative;
 text-align:center;
 cursor:default;
 }

 .hovereffect .overlay {
 width:100%;
 height:100%;
 position:absolute;
 overflow:hidden;
 top:0;
 left:0;
 opacity:0;
 background-color:rgba(0,0,0,0.5);
 -webkit-transition:all .4s ease-in-out;
 transition:all .4s ease-in-out
 }

 .hovereffect img {
 display:block;
 position:relative;
 -webkit-transition:all .4s linear;
 transition:all .4s linear;
 }

 .hovereffect h2 {
 text-transform:uppercase;
 color:#fff;
 text-align:center;
 position:relative;
 font-size:17px;
 background:rgba(0,0,0,0.6);
 -webkit-transform:translatey(-100px);
 -ms-transform:translatey(-100px);
 transform:translatey(-100px);
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 padding:10px;
 }

 .hovereffect a.info {
 text-decoration:none;
 display:inline-block;
 text-transform:uppercase;
 color:#fff;
 border:1px solid #fff;
 background-color:transparent;
 opacity:0;
 filter:alpha(opacity=0);
 -webkit-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 margin:50px 0 0;
 padding:7px 14px;
 }

 .hovereffect a.info:hover {
 box-shadow:0 0 5px #fff;
 }

 .hovereffect:hover img {
 -ms-transform:scale(1.2);
 -webkit-transform:scale(1.2);
 transform:scale(1.2);
 }

 .hovereffect:hover .overlay {
 opacity:1;
 filter:alpha(opacity=100);
 }

 .hovereffect:hover h2,.hovereffect:hover a.info {
 opacity:1;
 filter:alpha(opacity=100);
 -ms-transform:translatey(0);
 -webkit-transform:translatey(0);
 transform:translatey(0);
 }

 .hovereffect:hover a.info {
 -webkit-transition-delay:.2s;
 transition-delay:.2s;
 }
 /* end of image hover */


/* Footer */
.no-padding{
  padding: 0px;
}

.footer{
  background-image: url(static/img/dt3.png);
  /* background: black; */
  width: 100%;
  height: 170px;
}

.footer .row {
  height: 100%;
}
/* End of Footer */
